{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>AskPupkin - Question</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'app:index' %}" class="logo_link">AskPupkin</a> 
        </div>
        <div class="search">
            <input type="search" placeholder="search">
            <a href="{% url 'app:ask' %}" class="ask-button">ASK!</a>
        </div>
        <div class="header_links">
            <a href="{% url 'app:login' %}">log in</a>
            <a href="{% url 'app:signup' %}">register</a>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="active_question">
                <div class="act_left">
                    <img src="#" alt="" class="question_img">
                    <input type="number" value="{{ question.votes }}">
                </div>
                <div class="center_que">
                    <h2>{{ question.title }}</h2>
                    <p>{{ question.text }}</p>
                    <div class="padding_que">
                        <a href="" class="ans">answer({{ question.answers_count }})</a>
                        <div class="tags_que">
                            <p>Tags:</p>
                            {% for tag in question.tags %}
                                <a href="{% url 'app:tag' tag %}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="questions-list">
                {% for answer in answers %}
                    <div class="question">
                        <div class="left">
                            <img src="#" alt="" class="question_img">
                            <input type="number" value="{{ answer.votes }}">
                        </div>
                        <div class="center_que">
                            <p>{{ answer.text }}</p>
                            <div class="question-checkboxes">
                                <label class="checkbox-label">
                                    <input type="checkbox" name="correct" {% if answer.is_correct %}checked{% endif %}>
                                    <span>Correct!</span>
                                </label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="answer_area">
                    <textarea placeholder="Enter your answer here..."></textarea>
                    <button>Answer!</button>
                </div>
            </div>
        </div>
        <div class="content_tags">
            <div class="tags-container">
                <h3>Popular Tags</h3>
                <div class="tags">
                    <a href="{% url 'app:tag' 'perl' %}">perl</a>
                    <a href="{% url 'app:tag' 'python' %}" class="text-red">python</a>
                    <a href="{% url 'app:tag' 'technopark' %}">Technopark</a>
                    <a href="{% url 'app:tag' 'mysql' %}" class="text-red">MySQL</a>
                    <a href="{% url 'app:tag' 'django' %}" class="text-green">django</a>
                    <a href="{% url 'app:tag' 'mailru' %}">Mail.ru</a>
                    <a href="{% url 'app:tag' 'voloshin' %}">Voloshin</a>
                    <a href="{% url 'app:tag' 'firefox' %}" class="text-orange">Firefox</a>
                </div>
            </div>
            <div class="members-container">
                <h3>Best Members</h3>
                <ul>
                    <li><a href="{% url 'app:tag' 'mr-freeman' %}">Mr.Freeman</a></li>
                    <li><a href="{% url 'app:tag' 'dr-house' %}">Dr.House</a></li>
                    <li><a href="{% url 'app:tag' 'bender' %}">Bender</a></li>
                    <li><a href="{% url 'app:tag' 'queen-victoria' %}">Queen Victoria</a></li>
                    <li><a href="{% url 'app:tag' 'v-pupkin' %}">V Pupkin</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>