{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>AskPupkin - Settings</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'app:index' %}" class="logo_link">AskPupkin</a> 
        </div>
        <div class="search">
            <input type="search" placeholder="search">
            <button class="search-button">ASK!</button>
        </div>
        <div class="profile">
            <div class="avatar">
                <img src="#" alt="" class="avatar_img">
            </div>
            <div class="profile-info">
                <p>Dr.Pepper</p>
                <div class="header_links">
                    <a href="{% url 'app:settings' %}">settings</a>
                    <a href="#">log out</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main_container">
            <div class="login">
                <div class="login_name">Settings: Dr.Pepper</div>
                <div class="enters">
                    <div class="login_enter">
                        <div class="login_label">Login</div>
                        <div class="login_input">
                            <input type="text" placeholder="Enter your login here" size="20">
                        </div>
                    </div>
                    <div class="email_enter">
                        <div class="email_label">Email</div>
                        <div class="email_input">
                            <input type="text" placeholder="Enter your email here" size="20">
                        </div>
                    </div>
                    <div class="nick_enter">
                        <div class="nick_label">NickName</div>
                        <div class="nick_input">
                            <input type="text" placeholder="Enter your nickname here" size="20">
                        </div>
                    </div>
                    <div class="choose_img">
                        <div class="img_label">Upload avatar</div>
                        <div class="img_div">
                            <img src="" alt="" class="picture">
                            <div class="img_input_div">
                                <div class="img_input">
                                    <input type="file" placeholder="Take your picture here" size="20" accept="image/png, image/jpeg, image/jpg">
                                </div>
                                <button class="img_button">Choose</button>
                            </div>
                        </div>
                    </div>
                    <div class="login_foot">
                        <button>Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_tags">
            <div class="tags-container">
                <h3>Popular Tags</h3>
                <div class="tags">
                    <a href="{% url 'app:tag' 'perl' %}">perl</a>
                    <a href="{% url 'app:tag' 'python' %}" class="text-red">python</a>
                    <a href="{% url 'app:tag' 'technopark' %}">Technopark</a>
                    <a href="{% url 'app:tag' 'mysql' %}" class="text-red">MySQL</a>
                    <a href="{% url 'app:tag' 'django' %}" class="text-green">django</a>
                    <a href="{% url 'app:tag' 'mailru' %}">Mail.ru</a>
                    <a href="{% url 'app:tag' 'voloshin' %}">Voloshin</a>
                    <a href="{% url 'app:tag' 'firefox' %}" class="text-orange">Firefox</a>
                </div>
            </div>
            <div class="members-container">
                <h3>Best Members</h3>
                <ul>
                    <li><a href="{% url 'app:tag' 'mr-freeman' %}">Mr.Freeman</a></li>
                    <li><a href="{% url 'app:tag' 'dr-house' %}">Dr.House</a></li>
                    <li><a href="{% url 'app:tag' 'bender' %}">Bender</a></li>
                    <li><a href="{% url 'app:tag' 'queen-victoria' %}">Queen Victoria</a></li>
                    <li><a href="{% url 'app:tag' 'v-pupkin' %}">V Pupkin</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>